



 <body> 
    
    <div>   

      <form class="container">    

        <h4 class="text-warning text-center pt-5">Location profile</h4>  

<label>     

             Nom <input type="text" class="input" name="nomsociete" placeholder="Nom societe"    required  minlength="5"/>                   <div class="line-box">          

              <div class="line"></div>        

              </div>    

            </label>     

            

            <label>     

              <input 

                     type="text" 

                     class="input" 

                     name="adress"        

                     placeholder="Adress"    required/>        

              <div class="line-box">         

                <div class="line"></div>        

              </div>    

            </label>     

            

            <label>     

          <input 

                     type="email" 

                     class="input" 

                     name="password" 

                     placeholder="Email"
                        required
                        maxlength="30"/>        

              <div class="line-box">          

                <div class="line"></div>        

        </div>    

            </label>     

            

            <label>     

              <input 

                     type="tel" 

                     class="input" 

                     name="tel" 

                     placeholder="Numero mobile" required>      

              <div class="line-box">        

                <div class="line"></div>      

              </div>    

            </label>     

            

            <button type="submit">submit</button>  

          </form> 

      </div> 

    </body> 