

<br> <br><br><br><br>

<section class="service" id="service">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box" >
           <a routerLink="/espace" target="_self">
                <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
           </a>
            <h3>ESPACE</h3>

        </div>

        <div class="box">
          <a routerLink="/traiteur" target="_self">
            <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
          </a>            <h3>TRAITEURS</h3>

        </div>

        <div class="box">
          <a routerLink="/animateur" target="_self">
            <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
          </a>            <h3>ANIMATEURS</h3>

        </div>

        <div class="box">
          <a routerLink="/photographe" target="_self">
            <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
          </a>            <h3>PHOTOGRAPHES</h3>

        </div>

        <div class="box">
          <a routerLink="/serveur" target="_self">
            <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
          </a>            <h3>SERVEURS</h3>

        </div>

        <div class="box">
          <a routerLink="/location" target="_self">
            <img alt="ipc box panel prod" src="https://www.zankyou.fr/images/wervice-card/327/7abc/400/312/w/30847/-/1575651305.jpg">
          </a>            <h3>LOCATION MATERIELS</h3>

        </div>

    </div>

</section>

