<!-- footer section starts  -->



<!-- footer section ends -->

<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
       <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
                <li><a routerLink="/home"> <i class="fas fa-arrow-right"></i> home </a></li>
                <li><a routerLink="/service"> <i class="fas fa-arrow-right"></i> service </a></li>
                <li> <a routerLink="/CreatEvent"> <i class="fas fa-arrow-right"></i> CreatEvent </a></li>
                <li> <a routerLink="/event"> <i class="fas fa-arrow-right"></i> Event </a></li>
                <li> <a routerLink="/contact"> <i class="fas fa-arrow-right"></i> contact </a></li>

            
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Branches</h4>
            <ul>

              <li><a href="#"> <i class="fas fa-map-marker-alt"></i> Tunis </a></li>
              <li><a href="#"> <i class="fas fa-map-marker-alt"></i> Ariana </a></li>
              <li><a href="#"> <i class="fas fa-map-marker-alt"></i> Manouba </a></li>
              <li> <a href="#"> <i class="fas fa-map-marker-alt"></i> Ben Arous  </a></li>
              <li> <a href="#"> <i class="fas fa-map-marker-alt"></i> Hammamet </a></li>
              
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>contact info</h4>
            <ul>

              <li><a href="#"> <i class="fas fa-phone"></i> +21623146176 </a></li>
              <li> <a href="#"> <i class="fas fa-phone"></i> +21699088487 </a></li>
              <li> <a href="#"> <i class="fas fa-envelope"></i> harabiabdelkarim@outlook.fr </a></li>
              <li> <a href="#"> <i class="fas fa-envelope"></i> chiheb.menjli1920@gmail.com </a></li>
              <li><a href="#"> <i class="fas fa-map-marker-alt"></i> Tunis, Tunisie - 1111 </a>   </li>
          
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
    
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
    
    </div>
  </footer>