<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Tunis </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Ariana </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Manouba </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Ben Arous  </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Hammamet </a>
        </div>

        <!-- <a routerLink="/home">home</a>
        <a routerLink="/service">service</a>
        <a routerLink="/CreatEvent">CreatEvent</a>
        <a routerLink="/gallery">gallery</a>
        <a routerLink="/event">Event</a>
        <a routerLink="/review" >review</a>
        <a routerLink="/contact" >contact</a> -->



        <div class="box">
            <h3>quick links</h3>
            <a routerLink="/home"> <i class="fas fa-arrow-right"></i> home </a>
            <a routerLink="/service"> <i class="fas fa-arrow-right"></i> service </a>
            <a routerLink="/CreatEvent"> <i class="fas fa-arrow-right"></i> CreatEvent </a>
            <a routerLink="/gallery"> <i class="fas fa-arrow-right"></i> gallery </a>
            <a routerLink="/event"> <i class="fas fa-arrow-right"></i> Event </a>
            <a routerLink="/review"> <i class="fas fa-arrow-right"></i> reivew </a>
            <a routerLink="/contact"> <i class="fas fa-arrow-right"></i> contact </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +21623146176 </a>
            <a href="#"> <i class="fas fa-phone"></i> +21699088487 </a>
            <a href="#"> <i class="fas fa-envelope"></i> harabiabdelkarim@outlook.fr </a>
            <a href="#"> <i class="fas fa-envelope"></i> chiheb.menjli1920@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Tunis, Tunisie - 1111 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div><br>
     <br>
    <div class="credit"> created by <span>mr. Harabi Abdelkarim</span>  </div>

</section>

<!-- footer section ends -->