<body>
    <div class="container mt-3">
        <div class="card p-3 text-center">
            <div class="d-flex flex-row justify-content-center mb-3">
                <div class="image"> <img [src]="url" height="150px" width="150px"> <br>
                    <input type="file" (change)="onSelect($event)"> </div>
                <div class="d-flex flex-column ms-3 user-details">


                </div>
            </div>
            <h4>Serveur profile</h4>
            <form  name="forms"  #s="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="inputs"> <label>Name</label> <input class="form-control" type="text" placeholder="Name" name="nom" required ngModel

                        ngModel name="nom"
                        #nom="ngModel"/>
                      <div class="alert alert-danger" *ngIf="nom.touched   && nom.invalid"> required</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>cin</label> <input class="form-control" type="number" placeholder="cin" name="cin" required ngModel
                        ngModel name="cin"
                        #cin="ngModel"
                        minlength='8'/>
                      <div class="alert alert-danger" *ngIf="cin.touched   && cin.invalid"> cin invalide </div> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Date de naissance</label> <input class="form-control" type="date" placeholder="Date" name="date_naissance" required ngModel
                        ngModel name="date_naissance"
                        #date_naissance="ngModel"> </div> <div class="alert alert-danger" *ngIf="date_naissance.touched   && date_naissance.invalid"> date invalide </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label >Gendre</label>
                        <select  class="col-md-6" name="gende" ngModel required>
                        <option selected value="m">M</option>
                        <option value="f">F</option>
                    </select> </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Language</label> <input class="form-control" type="text" placeholder="language" name="langue"required ngModel

                        ngModel name="langue"
                        #langue="ngModel"
                        />
                      <div class="alert alert-danger" *ngIf="langue.touched   && langue.invalid"> language invalid </div> </div>
                </div>


                <div class="col-md-6">
                    <div class="inputs"> <label>Address</label> <input class="form-control" type="text" placeholder="address" name="adresse"required ngModel
                        ngModel name="adresse"
                        #adresse="ngModel"
                        />
                     <div class="alert alert-danger" *ngIf="adresse.touched   && adresse.invalid"> adress invalid  </div></div>
                </div>
                <div class="col-md-6">
                    <div class="inputs"> <label>Tel</label> <input class="form-control" type="tel" placeholder="tel" name="num_mo"required ngModel pattern="[+]{1}[0-9]{11,14}"

                        ngModel name="num_mo"
                        #num_mo="ngModel"
                        />
                    </div>  <div class="alert alert-danger" *ngIf="num_mo.touched   && num_mo.invalid"> tel invalid  </div>
                </div>






                <div class="col-md-6">
                    <div class="inputs"> <label>region</label> <input class="form-control" type="text" placeholder="region" name="region"required ngModel

                        ngModel name="region"
                        #region="ngModel"
                        />
                      <div class="alert alert-danger" *ngIf="region.touched   && region.invalid"> region invalid </div> </div>
                </div>


                <div class="col-md-6">
                    <div class="inputs"> <label>Ville</label> <input class="form-control" type="text" placeholder="Ville" name="ville" required ngModel

                        ngModel name="ville"
                        #ville="ngModel"
                        />
                      <div class="alert alert-danger" *ngIf="ville.touched   && ville.invalid"> ville invalid </div> </div>
                </div>

                <div class="col-md-6">
                    <div class="inputs"> <label>taill en cm</label> <input class="form-control" type="number" placeholder="taille" name="taille" required ngModel
                        ngModel name="taille"
                        #taille="ngModel"
                        minlength='8'/>
                      <div class="alert alert-danger" *ngIf="taille.touched   && taille.invalid"> taillinvalide </div> </div>
                </div>


            </div>

            <div class="mt-3 gap-2 d-flex justify-content-end"> <button class="px-3 btn btn-sm btn-outline-primary"  type="reset">Cancel</button>
                <button class="px-3 btn btn-sm btn-primary"  type="submit" [disabled]="s.invalid"    (click)="adds(s.value)">Save</button> </div>

        </form>
        </div>
    </div></body>
